# Node
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# OS
.DS_Store

# IDEs
.idea/
.vscode/

# Test coverage
coverage/

# Vite cache
.vite/

# Temporary
.cache/

.tanstack/