@import 'tailwindcss';

:root {
  --bg: #000000;
  --fg: #33fd00;
  --font-creepster: 'Creepster', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial;
}

html,
body,
#root {
  height: 100%;
}

/* BASE UI PORTAL FIX */
#root {
  isolation: isolate;
}
/* IOS 26 safari fix for base UI */
body {
  position: relative;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: var(--bg);
  color: var(--fg);
}
.skip-link {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link:focus {
  left: 8px;
  top: 8px;
  width: auto;
  height: auto;
  padding: 8px;
  background: #fff;
  border: 1px solid #ccc;
}

.font-primary {
  font-family: var(--font-creepster);
}
