@import 'tailwindcss';
@plugin "daisyui" {
  themes: forest --default, cyberpunk --prefersdark;
}

:root {
  --font-creepster: 'Creepster', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial;
  background-color: oklch(20.84% 0.008 17.911);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.font-primary {
  font-family: Arial, Helvetica, sans-serif;
}

.creepster-regular {
  font-family: var(--font-creepster), Arial, Helvetica, sans-serif;
}
