
@import "tailwindcss";

.skip-link{position:absolute;left:-999px;top:auto;width:1px;height:1px;overflow:hidden}
.skip-link:focus{left:8px;top:8px;width:auto;height:auto;padding:8px;background:#fff;border:1px solid #ccc}

body{
  margin: 0;
  padding: 0;
}

.creepster-regular {
  font-family: "Creepster", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  font-weight: 400;
  font-style: normal;
}

.button {
  width: 35px;
  @apply py-1 px-1 rounded bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 cursor-pointer;
}